* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h2,
h3 {
    margin-bottom: 1rem;
}

header {
    padding: 0 15%;
    background: #363945;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

main {
    padding: 0 15%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10%;
    row-gap: 3rem;
}

section {
    border: 1px solid rgba(220, 220, 220, 0.6);;
    padding: 1.5rem;
    background: rgba(220, 220, 220, 0.3);
    border-radius: 10px;
}

button {
    padding: 1rem 2rem;
    background: white;
    border: 1px solid rgba(220, 220, 220, 1);
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 1rem;
    transition: box-shadow .15s;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 .5rem rgba(33,33,33,.3);
}
button:focus {
    outline: none;
}
button:focus-visible {
    outline: 1px auto black;
}
button:active {
    background: #b3b5b9;
}

div span {
    float: right;
}

.text-center {
    text-align: center;
}

.laptop-showcase {
    padding: 2.5rem;
    margin-bottom: 2.5rem;
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    column-gap: 2rem;
}

.title {
    font-size: 1.5rem;
}

#logo {
    font-size: 2rem;
}

#loan-amount {
    color: red;
}

#laptop-selector {
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: .25rem;
}

#laptop-features {
    padding-left: 1rem;
    font-size: .9rem;
}

#laptop-showcase-img {
    width: 200px;
    height: 150px;
    border-radius: 8px;
}

#laptop-showcase-name {
    font-size: 2rem;
}

#laptop-showcase-price {
    font-size: 1.5rem;
    font-weight: 800;
}

#laptop-showcase-buy {
    background: #3ace3a;
    font-weight: 700;
    font-size: 1.1rem;
    width: 100%
}

#laptop-showcase-buy:active {
    background: #259625;
}